/.installed.cfg
/.mr.developer.cfg
/bin/
/deployment/roles/common/files/identity.pub
/deployment/zfsinstall/
/deployment/zfs_snap_backup/
/develop-eggs/
/downloads/
/etc/known_hosts
/include/
/lib/
/share/
/src/mr.awsome*
/vm/
