/.installed.cfg
/.mr.developer.cfg
/bin/
/deployment/vm-master/identity.pub
/deployment/zfsinstall/
/deployment/zfs_snap_backup/
/develop-eggs/
/downloads/
/etc/known_hosts
/include/
/lib/
/provisioning/
/share/
/src/mr.awsome*
/vm/
