Jinja2==2.7.2
MarkupSafe==0.23
PyYAML==3.11
Fabric==1.8.2
ansible==1.5.5
mr.awsome>=1.0rc3 
mr.awsome.ansible>=1.0b2
mr.awsome.ezjail>=1.0b2
mr.awsome.ec2>=1.0b2
mr.awsome.fabric>=1.0b2
bsdploy>=0.1a2
ecdsa==0.11
lazy==1.1
paramiko==1.14.0
pycrypto==2.6.1
pyliblzma==0.5.3
